h1{
    background-color: #ff0000;
    color: #ffffff;
}

body {
    padding: 2rem;
    text-align: center;
    background-image: url("public/images/CarsForHire.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
